.flex-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0;
}

.flex-li {
  list-style: none;
  display: inline-block;
  width: calc(100% / 3);
}

@media only screen and (max-width: 991px) {
  .flex-li {
    list-style: none;
    display: inline-block;
    width: calc(100% / 2);
  }
}

@media only screen and (max-width: 500px) {
  .flex-li {
    list-style: none;
    display: inline-block;
    width: calc(100% / 1);
  }
}
