.owl-prev {
  height: 100px;
  position: absolute;
  top: 30%;
  margin-left: 6;
  display: block !important;
  border: 0px solid black;
}

.owl-next {
  height: 100px;
  position: absolute;
  top: 30%;
  right: 11px;
  display: block !important;
  border: 0px solid black;
}
.owl-prev i,
.owl-next i {
  transform: scale(3, 3);
  color: #ccc;
}
