@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css?family=Andika&display=swap");

.textborde {
  color: #ffffff !important;
  /* background: #ffffff; */
  text-shadow: 2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    -2px -2px 0 black, 2px 0px 0 black, 0px 2px 0 black, -2px 0px 0 black,
    0px -2px 0 black;
  /* background: #ffffff; */
  /* font-family: "Indie Flower", cursive; */
  font-family: "Andika", sans-serif;
}
